<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spinytech.dingpademo">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <service android:name=".DingpaRouterConnectService"
            android:process=":dingpa"/>
        <activity android:name=".DingpaActivity"
            android:process=":dingpa">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>